@(posts: List[BlogPost])

@admin.layout("Administration") {
    
  <table class="table table-striped table-bordered">
    
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    
  @posts.map { post =>
    <tr>
      <td>@post.id</td>
      <td>
        <a href="@routes.BlogPosts.details(post.id)">@post.title</a>
      </td>
      <td>@post.publishedDate.format("dd MMMM yyyy, hh:mm:ss")</td>
      <td>
        <a href="@routes.BlogPosts.remove(post.id)"><i class="icon-remove"></i></a>
      </td>
    </tr>
  }
  
  @if(posts.isEmpty) {
    <tr>
      <td colspan="4" class="text-center">
        You haven't written any posts yet!
      </td>
    </tr>
  }
    
  </table>
}